<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tools App</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<link rel="stylesheet" href="/assets/font" media="all">
		<link rel="stylesheet" href="/assets/css/styles.css" media="all">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" media="all">
		<% preact.headEnd %>
		<script>
var currentUser = "17384";
		</script>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
